/*While Bootstrap uses ems or rems for defining most sizes, pxs are used for grid breakpoints and container widths.
This is because the viewport width is in pixels and does not change with the font size.

See how aspects of the Bootstrap grid system work across multiple devices with a handy table.
                    Extra small     Small       Medium      Large       Extra Large
                    <544px          ≥544px      ≥768px      ≥992px      ≥1200px
Container width     None (auto)     576px       720px       940px       1140px
Class prefix        .col-xs-        .col-sm-    .col-md-    .col-lg-    .col-xl-
*/


@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-UltraLight.otf") format("opentype");
    font-weight: 100;
}

html {
    font-size: 18px;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
}

body
{
    font-family: 'Lato', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
}

section {
    padding: 100px 0;
}

section h2 {
    margin-bottom: 60px;
    font-size: 4rem;
    word-wrap: break-word;
}

.btn {
    min-height: 120px;
    min-width: 120px;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 20px;
}

#status {
    padding: 40px;
}

#status .alert,
#status .btn-group,
#status button {
    width: 100%;
}

#status button {
    font-size: 1.2rem;
    min-height: 60px;
}

#status .dropdown-item {
    white-space: normal;
}

#status .dropdown-menu,
#status .dropdown-item {
    max-width: 100%;
}

@media(max-width: 768px) {
    section h2 {
        font-size: 3rem;
    }

    .btn {
        min-height: 100px;
        min-width: 100px;
        font-size: 1.4rem;
        margin: 10px;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 16px;
    }

    .btn {
        min-height: 80px;
        min-width: 80px;
    }
}
