<launch>
    <arg name="speech_duration"         default="8.0"/>    <!-- [s] -->

    <param name="baxter_display/speech_duration"    value="$(arg speech_duration)"/>
    <param name="baxter_display/mic_icon_file"      value="$(find human_robot_collaboration)/img/mic_icon.jpg"/>

    <node pkg="human_robot_collaboration" type="baxter_display"  name="baxter_display"  output="screen"/>

    <!-- <node name="image_view_baxter_display" pkg="image_view" type="image_view" respawn="false" output="log">
        <remap from="image" to="/robot/xdisplay"/>
        <param name="autosize" value="true" />
    </node> -->
</launch>

