<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find human_robot_collaboration)/rosconsole.conf"/>
    <!-- <include file="$(find human_robot_collaboration)/launch/baxter_aruco.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> -->

    <arg name="forceThresholdL"      default="2.0"/>    <!-- [N] -->
    <arg name="forceThresholdR"      default="2.0"/>    <!-- [N] -->

    <!-- If the system should use the robot or not (useful for debugging) -->
    <arg name="useRobot"            default="true"/>

    <param name="baxter_controller/force_threshold_left"  value="$(arg forceThresholdL)"/>
    <param name="baxter_controller/force_threshold_right" value="$(arg forceThresholdR)"/>
    <param name="baxter_controller/use_robot"             value="$(arg useRobot)"/>

    <node pkg="human_robot_collaboration" type="baxter_controller" name="baxter_controller" output="screen"/>

</launch>
