<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find baxter_collaboration)/rosconsole.conf"/>
    <!-- <include file="$(find baxter_collaboration)/launch/baxter_marker_publisher.launch" /> -->

    <arg name="forceThresholdL"      default="2.0"/>    <!-- [N] -->
    <arg name="forceThresholdR"      default="2.0"/>    <!-- [N] -->

    <!-- If the system should use the robot or not (useful for debugging) -->
    <arg name="useRobot"            default="true"/>

    <param name="baxter_controller/force_threshold_left"  value="$(arg forceThresholdL)"/>
    <param name="baxter_controller/force_threshold_right" value="$(arg forceThresholdR)"/>
    <param name="baxter_controller/use_robot"             value="$(arg useRobot)"/>

    <node pkg="baxter_collaboration" type="baxter_controller" name="baxter_controller" output="screen"/>

</launch>
