<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find baxter_collaboration)/rosconsole.conf"/>
    <!-- <include file="$(find baxter_collaboration)/launch/baxter_marker_publisher.launch" /> -->

    <arg name="forceThresholdL"  default="2.0"/>    <!-- [N] -->
    <arg name="forceThresholdR"  default="2.0"/>    <!-- [N] -->

    <param name="action_provider/force_threshold_left"  value="$(arg forceThresholdL)"/>
    <param name="action_provider/force_threshold_right" value="$(arg forceThresholdR)"/>

    <node pkg="baxter_collaboration" type="baxter_display"  name="baxter_display"  output="screen"/>
    <node pkg="baxter_collaboration" type="action_provider" name="action_provider" output="screen"/>

    <!-- <node pkg="baxter_collaboration" type="remote_control_node" name="l_srv" output="screen" args="left" />
    <node pkg="baxter_collaboration" type="remote_control_node" name="r_srv" output="screen" args="right" /> -->

    <!-- <node name="image_saver" pkg="image_view" type="image_saver" respawn="false" output="log">
        <remap from="image" to="/robot/xdisplay"/>
        <param name="autosize" value="true" />
    </node> -->

    <!-- <node name="video_recorder" pkg="image_view" type="video_recorder" respawn="false" output="log">
        <remap from="image" to="/aruco_marker_publisher/result"/>
        <param name="fps" value="30" />
    </node> -->

</launch>
