<launch>
    <!-- PERCEPTION -->
    <node name="image_view_hsv" pkg="image_view" type="image_view" respawn="false" output="log">
        <remap from="image" to="/hsv_detector/image_result"/>
        <param name="autosize" value="true" />
    </node>

    <!-- <node name="image_view_hsv2" pkg="image_view" type="image_view" respawn="false" output="log">
        <remap from="image" to="/hsv_detector/image_result_thres"/>
        <param name="autosize" value="true" />
    </node> -->

    <param name="hsv_detector/reference_frame" value="/base"/>
    <param name="hsv_detector/camera_frame"    value="/right_hand_camera"/>
    <param name="hsv_detector/area_threshold"  value="250"/>

    <node pkg="baxter_collaboration" type="hsv_detector" name="hsv_detector" output="screen">
        <remap from="hsv_detector/image" to="/cameras/right_hand_camera/image"/>
        <remap from="hsv_detector/camera_info" to="/cameras/right_hand_camera/camera_info"/>
    </node>

    <!-- Objects database for the left arm -->
    <rosparam param = "action_provider/objects_left">
        "table_top"   : 200
        "leg_1"       : 150
        "leg_2"       : 151
        "leg_3"       : 152
        "leg_4"       : 153
    </rosparam>

    <!-- Objects database for the right arm -->
    <rosparam param = "action_provider/objects_right">
        "screwdriver"  : 1
        "screws_box"   : 2
        "brackets_box" : 3
    </rosparam>

    <!-- Objects database for the hsv cartesian detector -->
    <rosparam param = "hsv_detector/objects_db">
        [["screwdriver"  , [0.099, 0.030], [160,  10], [ 70, 166], [10,  66]],
         <!-- This should be the blue one -->
         ["screws_box"   , [0.131, 0.131], [ 80, 130], [120, 216], [40, 126]],
         <!-- This should be the green one -->
         ["brackets_box" , [0.131, 0.131], [130, 130], [120, 120], [40, 40]]]
    </rosparam>

    <!-- CONTROL -->
    <!-- If the system should use the robot or not (useful for debugging) -->
    <param name="action_provider/use_robot"             value="true"/>

    <!-- Parameters for force interaction -->
    <param name="action_provider/force_filter_variance_left"        value="0.001"/>
    <param name="action_provider/force_filter_variance_right"       value="1.0"/>
    <param name="action_provider/relative_force_threshold_left"     value="65.0"/>
    <param name="action_provider/relative_force_threshold_right"    value="1.0"/>

    <!-- If the robot will recover from an error or will wait for the external planner's decisions -->
    <param name="action_provider/internal_recovery"     value="false"/>

    <!-- Parameters for force interaction -->
    <arg name="forceFilterVarianceL" default="0.001"/>
    <arg name="forceFilterVarianceR" default="1.0"/>
    <arg name="relativeForceThresholdL"   default="65.0"/>
    <arg name="relativeForceThresholdR"   default="1.0"/>

    <param name="action_provider/force_filter_variance_left"        value="$(arg forceFilterVarianceL)"/>
    <param name="action_provider/force_filter_variance_right"       value="$(arg forceFilterVarianceR)"/>
    <param name="action_provider/relative_force_threshold_left"     value="$(arg relativeForceThresholdL)"/>
    <param name="action_provider/relative_force_threshold_right"    value="$(arg relativeForceThresholdR)"/>

    <!-- If the robot will recover from an error or will wait for the external planner's decisions -->
    <arg name="internalRecovery"    default="true"/>
    <param name="action_provider/internal_recovery"     value="$(arg internalRecovery)"/>

    <!-- Parameter for speech pop up duration -->
    <arg name="speechPopUpDuration"  default="20.0"/>    <!-- [s] -->
    <param name="baxter_display/speech_duration"        value="$(arg speechPopUpDuration)"/>

    <node pkg="baxter_collaboration" type="modular_action_provider" name="modular_action_provider" output="screen">
    </node>

    <!-- VISUALIZATION -->
    <!-- Parameter for speech pop up duration -->
    <param name="baxter_display/speech_duration"        value="20.0"/>

    <node pkg="baxter_collaboration" type="baxter_display"  name="baxter_display"  output="screen"/>
</launch>

